# CDK
*.js
!jest.config.js
*.d.ts
node_modules
cdk.out
cdk.context.json

# Terraform (deprecated - safe to delete)
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store

# Application
app/app
